@model Udemy.WebUI.Models.AdminViewModel;






@{
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}

<style>
    /*.UserDiv {
            cursor: pointer;
            transition: 0.2s;
        }

            .UserDiv:hover {
                background-color: #362FD9;
                color: white;
                transition: 0.2s;
            }*/


    .DetBtn {
        border: 2px solid #362FD9;
        border-radius: 5px;
        color: black;
        background-color: white;
        font-weight:500;
        padding:5px;
        transition: 0.2s;
    }

    .DetBtn:hover{
        color: white;
            background-color: #362FD9;
        transition: 0.2s;
    }


    /* width */
    .scroll::-webkit-scrollbar {
        width: 20px;
    }

    /* Track */
    .scroll::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    .scroll::-webkit-scrollbar-thumb {
        background: #3E54AC;
        border-radius: 10px;
    }

    .SearchBtn {
        background-color: transparent;
        border: 1px solid #3E54AC;
        color: black;
        border-radius: 8px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        transition: 0.1s;
    }

        .SearchBtn:hover {
            color: white;
            background-color: #3E54AC;
            transition: 0.1s;
        }

</style>


<div class="scroll mt-4 mx-auto overflow-auto" style="height:90vh;width:150vh;border:1px solid #3E54AC;border-radius:20px;">
    <form asp-controller="Admin" asp-action="SearchUser">

        <div class="mt-2 mb-1 w-50 text-center mx-auto input-group">
            <input id="SearchInput" name="Search" type="text" class="w-50 mx-auto p-2 ps-3 text-start form-control" style="border:1px solid #362FD9;border-radius:8px; border-bottom-right-radius:0px;border-top-right-radius:0px; font-size:1.3em;font-weight:500;color:darkgray;" placeholder="Search for User" />
            <button class="SearchBtn btn">Search</button>
        </div>
    </form>
    <table class="table align-middle mb-0 bg-white">
        <thead class="text-white" style="background-color:#3E54AC;">
            <tr>
                <th>Name</th>
                <th>Instructor Account</th>
                <th>Title</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>


            @if (TempData["SearchMessage"] != null)
            {
                <h2 class="mt-4 text-dark text-center">@TempData["SearchMessage"]</h2>
            }

            @foreach (var user in Model.Users)
            {






                <tr class="UserDiv text-start">
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="@user.ImageUrl"
                             class="rounded-circle"
                             alt=""
                             style="width: 45px; height: 45px" />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">@user.FirstName @user.LastName</p>
                                <p class="text-muted mb-0">@user.Email</p>
                            </div>
                        </div>
                    </td>
                    @foreach (var teacher in Model.Teachers)
                    {
                        @if (teacher.MyUserId == user.Id)
                        {
                            <td>

                                Yes

                            </td>
                        }
                        else
                        {
                            <td>
                                No
                            </td>
                        }
                    }

                    <td>
                        <p class="fw-normal mb-1">Not disclosed</p>
                        <p class="text-muted mb-0">Not disclosed</p>
                    </td>
                    <td>
                        User
                    </td>
                    <form asp-controller="Admin" asp-action="UserDetails" method="post">

                    <td>
                        <button type="submit" class="DetBtn">Show User</button>
                        <input type="hidden" name="userId" value="@user.Id">
                    </td>
                    </form>


                </tr>


            }

        </tbody>
    </table>
</div>


<script>

</script>